{%extends 'plantillaAdmin.html' %}
{%block body%}

 <div class="col-md-4 offset-md-4 mt-5">
    <div class="card card-body">

        <div class="display-5 mt-3 mb-3 text-left">Registrar Usuario Administrador</div>
        <!-- Creacion del Formulario -->

        {% with mensaje = get_flashed_messages() %}
        {% if mensaje %}
        {% for msj in mensaje %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ msj }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor  %}    
        {% endif  %}    
        {% endwith  %}

        <form action="/crearusuAdmin" method="post">
            <div class="mb-3">
                <label  class="form-label">Nombre Usuario:</label>
                <input type="text" name="txtnombre" class="form-control" required>
            </div>
            <div class="mb-3">
                <label  class="form-label">Email:</label>
                <input type="email" name="txtemail" class="form-control" required>
            </div>    
            <div class="mb-3">
                <label  class="form-label">Password:</label>
                <input type="password" name="txtpass" class="form-control" required>
            </div>
            <div class="mb-3">
                <label  class="form-label">Confirmar Password:</label>
                <input type="password" name="txtconfpass" class="form-control" required>
            </div> 
            
            <div class="d-grid">
                <button type="submit" class="btn btn-danger">Crear Usuario</button>                                
            </div>     
          </form>
    </div>
</div>   

{%endblock%}