{% extends 'plantilla.html'%}
{%block body%}

{% with mensaje = get_flashed_messages()%}
        {% if mensaje %}
          {% for msj in mensaje %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{msj}}</strong> 
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

<div class="cuerpo">
  <div class="container">
    <div class="products">

        <div class="product">
            <div class="image">
                <img src="{{url_for ('static', filename = './img/medallaOro.png')}}" alt="">
            </div>
            <div class="namePrice">
                <center>
                <h3>Gold Card</h3>
                <span>$700 MXN</span>
                    <p>Vigencia 1 semana</p>
                        <a href="/insertMem/{{session.id}}/nivel2" class="btn btn-outline-danger">Adquirir Membresia</a>
                </center>

            </div>
        </div>

        <div class="product">
            <div class="image">
                <img src="{{url_for ('static', filename = './img/medallaPlata.png')}}" alt="">
            </div>
            <div class="namePrice">
                <center>
                <h3>Plata Card</h3>
                <span>$250 MXN</span>
                    <p>Vigencia 1 dia</p>
                        <a href="/insertMem/{{session.id}}/nivel1" class="btn btn-outline-danger">Adquirir Membresia</a>
                </center>
            </div>
        </div>

        <div class="product">
            <div class="image">
                <img src="{{url_for ('static', filename = './img/medallaBronce.png')}}" alt="">
            </div>
            <div class="namePrice">
                <center>
                <h3>Bronce Card</h3>
                <span>$25 MXN</span>
                    <p>Vigencia x hora</p>
                    <a href="/insertMem/{{session.id}}/Visitante" class="btn btn-outline-danger">Adquirir Membresia</a>
                </center>
            </div>
        </div>

        <div class="product">
            <div class="image">
                <img src="{{url_for ('static', filename = './img/diamante.png')}}" alt="">
            </div>
            <div class="namePrice">
                <center>
                <h3>Diamante Card</h3>
                <span>$2,800 MXN</span>
                    <p>Vigencia 1 mes</p>
                    <a href="/insertMem/{{session.id}}/nivel3" class="btn btn-outline-danger">Adquirir Membresia</a>
                </center>
            </div>
        </div>
        
    </div>
</div>
</div>

{%endblock%}