<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="https://cdn-icons.flaticon.com/png/512/3304/premium/3304120.png?token=exp=1656023846~hmac=e771b98fc3a35d129d53b7661ea8005e">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <title>EL GARAJE</title>
</head>
<body>

    <!--NAVBAR-->
<nav class="navbar navbar-expand-lg  navbar-light bg-light p-3" id="menu">
    <div class="container-fluid ">
    
        <p class=" fst-italic mt-1 mb-0">
          <img src="{{url_for ('static', filename = './img/image.png')}}" width="120" height="65" alt="">
        </p>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="/index/{{session.id}}" style="color:black ;">Inicio</a>
              </li>
          <li class="nav-item">
            <a class="nav-link active" href="/formregistro/{{session.id}}" style="color:black ;">Registrar vehiculo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/establecimientos/{{session.id}}" style="color:black ;">Establecimientos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/membresias/{{session.id}}" style="color:black ;">Membresias y servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/consultaMicuenta/{{session.id}}" style="color:black ;">Mi cuenta</a>
          </li>
        </ul>
        <form class="d-flex">
          <p class="mt-0 offset-md-1" style="color:black ;">Usuario: {{session.usuario}}</p>
          <a href="/logout" class="nav-link" style="color:black ;">LOG OUT</a> 
        </form>
      </div>
    </div>
  </nav>

    {%block body%}

    {%endblock%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>